black
flake8
ipython
isort
jupyterlab
loguru
matplotlib
notebook
numpy
pandas
pip
python-dotenv
openpyxl
scikit-learn
tqdm
torch
torchvision
opencv-python
efficientnet_pytorch
wandb
monai
lightning
nbautoexport
seaborn
typer
-e .
